#formularioGeneral{
    background-color: #ec9;
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
#formularioGeneral *{
    margin:.5%;
}

#formularioGeneral div{
    display: flex;
    flex-grow: 1;
    margin: 0%;
}

#formularioGeneral div #campoEtiqueta{
    display: flex;
    flex-wrap: Wrap;
}

#formularioGeneral div label{
    width: 100%;
    flex-grow: 1;
}

#formularioGeneral div #publicarEtiqueta{
    flex-grow: 1;
}

#formularioGeneral #bEnviar{
    align-self: flex-end;
    height: 50%;
    flex-basis: auto;
 }

#formularioGeneral #titulo{
    font-size: 1.5em;
}