main, .estadisticasDeUsuario>* {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.estadisticasDeUsuario>* {
  align-items: center;
}

#granAvatar {
  max-height: 256px;
  max-width: 256px;
  justify-self: center;
}

.fondoCCC, .preguntas, .respuestas, .desc, .email {
	background-color: #ccc;
	padding: 15px;
	margin: 5px;
}

.datos {
	width: 100%;
	border: 1px solid #ccc;
	margin-left: 5px;
}

.usuario {
	background-color: #ec9;
	padding: 15px;
}