#campoEtiqueta{
    visibility: hidden;
}

#tituloFormulario{
    font-size: 1.5em;
}

.material-icons:hover {
    cursor:pointer;
}

.titulo {
    background-color: #ec9;
    padding: 10px;
    color: #333;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}

.autor, .imagenAutor {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    clear: both;
}