#campoEtiqueta {
  visibility: hidden;
}

#tituloFormulario {
  font-size: 1.5em;
}

.material-icons:hover {
  cursor: pointer;
}

.titulo {
  padding: 10px;
  color: #333;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.cabeceraPost {
  display: flex;
  background-color: #ec9;
  align-items: center;
}

.autor, .imagenAutor {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  clear: both;
}

.votos {
  justify-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuerpo {
  background-color: #ccc;
}