* {
  box-sizing: border-box;
  font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
  color: #222;
}

body {
  height: 100%;
  margin: 0;
}

html {
  min-height: 100%;
}

.avatar {
  height: 32px;
  width: 32px;
}

/*Menu*/
#barraBusqueda, #barraBusqueda input {
  display: flex;
  align-items: center;
  background-color: #eee;
  border: 1px solid #eee;
  color: #333;
  padding: 5px;
  margin-right: 15px;
  /*text-align: center;*/
}
#barraBusqueda i {
  border-right: 1px solid #d64;
}

#ayuda, #botonLogin, #botonSignin, #botonMenu,
#ayudaMovil, #botonLoginMovil, #botonSigninMovil{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #eee;
  color: #333;
  border-radius: 4px;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 15px;
  flex-shrink: 0;
}
/*Página errores*/
.error {
  width: 50%;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  background-color: #eee;
  border: 2px solid #333;
  border-radius: 4px;
}

/*GRID*/
.margen {
  grid-area: gap;
}
.main {
  grid-area: main;
  padding-left: 20%;
}
#menuMovil {
  grid-area: menu;
  display: none;
  flex-shrink: 0;
  /*flex-wrap: wrap;*/
  justify-content: center;
  background-color: #d64;
  padding: 5px;
}

#menuMovil a {
  flex-grow: 1;
  justify-content: center;
  padding: 5px 0;
}

.gridContenedor {
  display: grid;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'main main gap'
    'footer footer footer';
  min-height: 100vh;
  grid-template-rows: 80px 1fr auto;
}

header {
  display: flex;
  /*position: fixed;*/
  justify-content: space-between;
  align-content: center;
  background-color: #d64;
  padding: 10px;
  grid-area: header;
}
header #logoHeader {
  margin: 5px;
}

#logoHeader img {
  width: auto;
  height: 100%;
  /*margin: 5px;*/
}
#logo img{
  width: 100%;
  height: auto;
}

/*footer*/
footer {
  display: flex;
  background-color: #d64;
  justify-content: center;
  padding: 10px;
  grid-area: footer;
  flex-shrink: 0;
}

footer div, #email, .contacto {
  margin-top: 10px;
  text-decoration: none;
}

footer #logo {
  width: 100px;
  margin: 5px 2%;
}

.thumb {
  cursor: pointer;
}

/*Responsividad*/
@media only screen and (max-width: 600px) {
  #botonMenu {
    display: flex;
  }

  #ayuda, #botonLogin, #botonSignin {
    display: none;
  }

  #barraBusqueda, #barraBusqueda input {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  #ayudaMovil, #botonLoginMovil, #botonSigninMovil, #botonMenu{
    display: none;
  }
  #ayuda, #botonLogin, #botonSignin {
    display: flex;
  }

  #barraBusqueda, #barraBusqueda input {
    width: 100%;
  }
}